/* Style sheet created by: Luke Brandt, 11/04/2020 */

/* Style for body specifies a background color */
body {
	background-color: #FFFFFF;
}

/* Style for the container element */
#container {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}

/* Style for the header element */
header {
	font-family: Verdana, Arial, sans-serif;
	background-color: #FFFFFF;
	color: #4E9657;
	padding: 0.5%;
	margin-left: 1%;
	font-size: 3em;
}

/* Style for the nav element */
nav {
	padding: 0.5%;
}

/* Style for the nav list item elements */
nav li {
	display: inline;
}

/* Style for the nav links element */
nav li a {
	color: #4E9657;
	padding-left: 2%;
	padding-right: 2%;
	text-decoration: none;
}
/* Style for the table */
table{
  width: 100%;
}
td, th {
	border: 1px solid black;
}

/* style for main*/
main{
	display: block;
	padding: 1em;
	background-color: #4E9657;
}

/*style for section*/
section{
	background-color: #FFFFFF;
	color: #4E9657; 
	padding: 1em;
	margin-top: .5em;
}

/*style for article*/
article{
	border-top: thin solid black ;
	color:black;
	padding: .5em;
	margin-top: .5em;

}

/*style for aside*/
aside{
	
	border-radius: 60px/ 40px;
	background-color:#4E9657 ;
	color:white;
	font-size: 1.5em;
	text-align: center;
	padding: 1em;
	margin-top: .5em;
}

/*style for footer*/
footer{
	text-align: center;
	font-size: .70em;
}

