/*********************************************************************
***
*Original Author:  Luke Brandt                                  *
*Date Created:   2/17/2021                                
*Version:1.0                                                *
*Date Last Modified: 2/17/2021                             *
*Modified by:  Luke Brandt                                        *
*Modification log:      


***
******************************************************************** */
html {
    background-color: black;
  }
  
  /*styles for page title*/
#caped {
    border: 2px solid black;
    background-image: url("../images/get-into-comic-books.jpg");
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
  }
  #caped a {
    text-decoration: none;
    color: black;
  }
  
  #caped h1 {
    font-size: 25px;
    padding: 10px;
    margin: 0;
    font-family: "Roboto", sans-serif;
    border: 1px solid black;
    text-align: center;
    background-color: white;
    box-shadow: 1px 10px 10px black;
  }
  .container {
   
    background-color: white;
     padding: 20px;
     
  }
  .comics{
    border: 2px solid rgb(255, 134, 134);
  }
  .comics div{
      display: inline;   
  }
  .comics img{
    margin-top: 10px;
    margin-left: 1em;
    height: 200px;
    
  }
  #side_nav{
    background-color:rgb(255, 134, 134) ;
  }
  .sub{
    display:none;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    ;
  }
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: black;
    text-align: center;
    padding: 10px;
    text-decoration: none;
  }
  
  
  
  

  /*styles for footer*/
footer {
    background-color: white;
    border: 1px solid black;
    text-align: center;
    font-style: italic;
    background-color: rgb(255, 134, 134);
  }
  
  footer a {
    text-decoration: none;
    color: black;
  }
  /* tablet display*/
@media only screen and (min-width: 760px) {
    html {
      background-image: url("../images/get-into-comic-books.jpg");
    }
    main{
      
      margin: 0 50px;
    }
    #caped {
      border: none;
      background-image: none;
    }
  
    #caped h1 {
      font-size: 50px;
      padding: 10px;
      margin: 0;
  
      border: 1px solid black;
      text-align: center;
      background-color: white;
      box-shadow: 5px 10px 10px black;
    }
    .container {
      border: 15px solid black;
    }
    
     
    
    footer {
      border: 5px solid black;
      margin: 0 50px;
    }
   
  }
  /*Desktop display*/
/*makes background comic image for whole page, makes fonts larger for title and menu, creates larger borders for items*/
@media only screen and (min-width: 1260px) {

    main{
      
      margin: 0 50px;
    }
    #catalogue_page{
        
        flex-direction: column;
 }
  
    .mainPage {
      border: 10px solid rgb(255, 134, 134);
      margin-bottom: 30px;
      padding: 25px 100px;
    }
   
    #caped h1 {
      font-size: 100px;
      padding: 10px;
      margin: 0;
      border: 5px solid black;
      text-align: center;
    }
  
    html {
      background-image: url("../images/get-into-comic-books.jpg");
    }
  
    .container {
      border: 15px solid rgba(0, 0,0);
      padding: 0;
      display: flex;
      align-items: left;
    }
  
    .menu {
      border: 5px solid black;
      font-size: 25px;
    }
    footer {
      border: 5px solid black;
      margin: 0 50px;
    }
    
    .comics{
      /*border: 5px solid rgb(255, 134, 134);*/
      padding: 25px;
      
    }
    .comics h1{
      text-align: center;
      text-decoration: underline;
    }
    .comics div{
      float: left;
      padding: 5px;
      margin: 25px;
    }
    .comics img{
      height: 200px;
    }
    
    
    #side_nav{
      border: 1px solid black;
      flex-direction: column;
      display: inline;
      background-color: white;
  }
  ul {        
      margin: 0;
      padding: 0;
      width: 200px;
      height: 100%;        
    }
  .list_catag{
      background-color:rgb(255, 134, 134);
      list-style-type: none;
      font-size: large ;
      font-weight: bolder;
      width: 100%;
    }
  .sub{
      margin-left: 10px;
      display: inline;
  }
   
  li a {
      display: block;
      color: #000;
      padding: 8px 16px;
      text-decoration: none;
      
      margin-bottom: 25px;
    }
    li a:hover{
        font-style:italic ;
    }
  
  
    

}
  
