/*********************************************************************
***
*Original Author:  Luke Brandt                                  *
*Date Created:   1/20/2021                                *
*Version:1.0                                                *
*Date Last Modified: 1/28/2021                             *
*Modified by:  Luke Brandt                                        *
*Modification log:      

1/24/2021 - changed navigation menu to horizontal layout, added flex box properties
1/26/2021 - added break points for mobile and tablet view, customized order form, changed design elements for breakpoints
1/27/2021- added box shaddow to second panel, added styles for newsletter and order form
2/3/2021 - added styles for slideshow and more borders
***
******************************************************************** */

html {
  background-color: black;
}

/*styles for page title*/
#caped {
  border: 2px solid black;
  background-image: url("../images/get-into-comic-books.jpg");
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}
#caped a {
  text-decoration: none;
  color: black;
}

#caped h1 {
  font-size: 25px;
  padding: 10px;
  margin: 0;
  font-family: "Roboto", sans-serif;
  border: 1px solid black;
  text-align: center;
  background-color: white;
  box-shadow: 1px 10px 10px black;
}

/*styles for middle of page*/
/*body {
  height: 100%;
}
*/

.container {
  border: 1px solid black;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;

  flex-direction: column;
  padding: 20px;
}

.mainPage {
  text-align: center;
  padding: 10px;
  /*border: 1px solid black;*/
}
.mainPage h1 {
  text-decoration: underline;
}
.mainPage p {
  font-size: 20px;
}
/*styles for newsletter portion*/

.newsLetter {
  background-color: rgb(214, 214, 214);
  box-shadow: 1px 5px 5px black;

  /*border: 1px solid black;*/
  padding: 0 1em 1em;
}

.newsLetter div {
  margin-bottom: 1em;
}
.newsLetter label {
  display: inline-block;
  width: 10em;
  text-align: right;
}
.newsLetter input {
  margin-left: 1em;
  margin-right: 0.5em;
}

.newsLetter span {
  color: red;
}

#button_spacer {
  display: none;
}

/*styles for slide show*/
#slides img {
  display: none;
}
#slide {
  width: 250px;
}
/*styles for comic page*/
.comics{
 
  padding: 25px;
  
}
.comics h1{
  text-align: center;
  text-decoration: underline;
}
.comics div{
  float: left;
  padding: 5px;
  margin: 25px;
  border: 1px solid black;
}
.comics img{
  height: 300px;
}

/* styles for order lookup form*/
.orderForm {
  padding: 10px;
  background-color: rgb(214, 214, 214);
  box-shadow: 1px 5px 5px black;
  /*border: 1px solid black;*/
}

.orderForm div {
  padding: 5px;
}

.orderForm h2 {
  text-align: center;
  text-decoration: underline;
}

.orderForm input {
  float: right;
}

/*Styles for Contact us page*/
.location img {
  width: 300px;
  border: 3px solid black;
}

.location p {
  font-size: 20px;
  text-align: center;
}

.location a {
  text-decoration: none;
  color: black;
}
.location a:hover {
  color: blue;
  font-style: italic;
}

/* styles for contact form*/
.contact_form {
  padding: 10px;
  background-color: rgb(214, 214, 214);
  box-shadow: 1px 5px 5px black;
  border: 1px solid black;
  width: 300px;
}

.contact_form h2 {
  text-align: center;
  text-decoration: underline;
}

.contact_form label {
  display: inline-block;

  text-align: right;
  vertical-align: top;
}

.contact_form input {
  margin-right: 1px;
}
.contact_form textarea {
  width: 200px;
}

.contact_form ul {
  color: red;
  border: 1px solid red;
}
.contact_form span {
  color: red;
}

/*Styles for faq*/
#faqs a {
  color: black;
  text-decoration: none;
}

#faqs h2.selected {
  font-style: italic;
}
#faqs div {
  display: none;
}
#faqs div.open {
  display: block;
}
/*menu styles*/
.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  font-size: 15px;
  flex-wrap: wrap;

  background-color: rgba(255, 219, 146);

  border: 1px solid black;
}
.menu a {
  color: black;
  text-decoration: none;
}

.menu a:hover {
  color: gray;
  background-color: rgb(255, 134, 134);
}

/*styles for footer*/
footer {
  background-color: white;
  border: 1px solid black;
  text-align: center;
  font-style: italic;
  background-color: rgb(255, 134, 134);
}

footer a {
  text-decoration: none;
  color: black;
}

/* tablet display*/
@media only screen and (min-width: 760px) {
  html {
    background-image: url("/images/get-into-comic-books.jpg");
  }
  main{
    
    margin: 0 50px;
  }
  #caped {
    border: none;
    background-image: none;
  }

  #caped h1 {
    font-size: 50px;
    padding: 10px;
    margin: 0;

    border: 1px solid black;
    text-align: center;
    background-color: white;
    box-shadow: 5px 10px 10px black;
  }
  .container {
    border: 15px solid black;
  }
  .secondBox {
    box-shadow: 5px 10px 10px black;
  }

  #button_spacer {
    display: inline-block;
  }
  .mainPage {
    border: 5px solid rgb(255, 134, 134);
    margin-bottom: 30px;
  }
  .location img {
    width: 500px;
  }
  /* styles for contact form*/
  .contact_form {
    padding: 10px;
    background-color: rgb(214, 214, 214);
    box-shadow: 1px 5px 5px black;
    border: 1px solid black;
    width: 500px;
  }
  .contact_form div {
    margin-bottom: 1em;
  }

  .contact_form h2 {
    text-align: center;
    text-decoration: underline;
  }

  .contact_form label {
    display: inline-block;
    width: 11em;
    text-align: right;
    vertical-align: top;
  }

  .contact_form input {
    margin-right: 10px;
  }

  #slide {
    width: 400px;
  }
  footer {
    border: 5px solid black;
    margin: 0 50px;
  }
 
}
/*Desktop display*/
/*makes background comic image for whole page, makes fonts larger for title and menu, creates larger borders for items*/
@media only screen and (min-width: 1260px) {

  main{
    
    margin: 0 50px;
  }

  .mainPage {
    border: 10px solid rgb(255, 134, 134);
    margin-bottom: 30px;
    padding: 25px 100px;
  }
  #slide {
    width: 700px;
  }
  #caped h1 {
    font-size: 100px;
    padding: 10px;
    margin: 0;
    border: 5px solid black;
    text-align: center;
  }

  html {
    background-image: url("../images/get-into-comic-books.jpg");
  }

  .container {
    border: 15px solid rgba(0, 0,0);
  }

  .menu {
    border: 5px solid black;
    font-size: 25px;
  }
  footer {
    border: 5px solid black;
    margin: 0 50px;
  }
  
  .comics{
    /*border: 5px solid rgb(255, 134, 134);*/
    padding: 25px;
    
  }
  .comics h1{
    text-align: center;
    text-decoration: underline;
  }
  .comics div{
    float: left;
    padding: 5px;
    margin: 25px;
    border: 1px solid black;
  }
  .comics img{
    height: 500px;
  }
  
  #cata{
    
    margin-bottom: 20px;
  }
  
 
}
