@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Josefin+Slab&family=Oswald&family=Roboto+Slab&display=swap');



$offwhite:#EEE8D6;
$darkblue: #022933;
$yellow: #ffba00;
$red: #d14348;
$blue: #0076a3;
$green: #548c27;
$orange: #f39856;
$purple: #6d73c2;

$color-main: $darkblue;
$color-backgrounds: $offwhite;
$color-headlines: $red;

$font-main: 'Merriweather', helvetica, sans-serif;
$font-highlight: 'Bree Serif', helvetica, sans-serif;