/*Luke Brandt 10/30/2020 */
@font-face{
    font-family:'poppins';
	src:url('../fonts/poppins/poppins-italic-webfont.woff') format('woff'),
	url('../font/poppins/poppins-italic-webfont.otf') format('otf');
	font-weight: normal;
    font-style: italic; 
}

#outerwrapper {

	margin-left: auto;
    margin-right: auto;
    max-width: 70%;
} 

.floatleft { 
float: left;
margin-right: 3%;
}

.floatright {
float: right;
margin-left: 3%;
}

main, footer { 
clear: both;
}

body{
    color: #000000;
    background-color: #B8D1EB ;
    font-family: 'Times New Roman', Times, serif;
}

main{
   background-color: #C5A98B;
   padding: 10px;
}

footer{
    font-size: .75em;
    text-align: center;
    background-color: rgb(122, 61, 18);
    padding: 10px ;
}
nav > ul{
    list-style-type: none;
}

main > ul{
    list-style-type: disc;
    list-style-image: url(../images/tomato.png);
    list-style-position: outside ;
}
h1{
    font-family:'Permanent Marker', cursive, sans-serif; 
    font-size: 3.5em;
}

h2{
font-family: 'poppins', cursive, sans-serif;

}